ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

body {
	background-color: lightgray;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	list-style-type: none;
	text-decoration: underline;
}

#storeHours {
	list-style-type: none;
	border: 5pt solid grey;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 1px;
}

#wrapper{
	width:960px;
	margin: 0 auto;
	border: 5pt solid grey;
	padding-left: 5px;
	padding-right: 5px;

}

#banner{
	width: 960px;
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
}

nav{
	width: 960px;
	margin: 0 auto;
}

footer {
	text-align: center;
	text-decoration: bold;
	margin-right: 200px;
	display: block;
}

#facebook {
	width: 50px;
	margin: 0 auto;
	margin-right: 525px;
	display: block;
}

#dialog {
	font-style: italic;
}